{% extends 'core/base.html' %}
{% load staticfiles%}

{% block content %}

<img src="{% static 'img/logo-unison.png' %}" alt="logo-unison" class="logo-unison">
<h2>Login</h2>
<div class="container">
  <div class="row">
    <div class="col-6">
      <form method="post" class="form-group">
        {% csrf_token %}
          {% for field in form %}
            <div class="form-control">
              {{ field.errors }}
              {{ field.label_tag }}  {{ field }}            
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary">Inicia sesión</button>
      </form>
    </div>
    <div class="col-6">
      <img src="{% static 'img/logo-unison.png' %}" alt="logo-unison">
    </div>
  </div>
</div>
{% endblock %}