{% extends 'core/base.html' %}
{% load staticfiles%}
{% block content %}
<!-- SIN LOGGEAR -->
    <!-- INICIA EL POST-HEADER -->
    <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 link_class">
                    <a href="{% url 'lista_campus' %}">
                        <p class="black-font text-center">
                            Servicios
                        </p>
                    </a>
                </div>
                <div class="col-12 col-md-6 link_class"><a href="{% url 'login' %}"><p class="black-font text-center">Inicia Sesion</p></a></div>
            </div>

            <div class="row">
                <div class="col-12 titulo-recuardo">
                    <p>Lista de Servicios</p>
                </div>
            </div>
                
            {% for servicio in servicios %}
                <div class="row">
                    
                    <div class="col-12 recuadro">
                    <a href="{% url 'info_servicio' pk=servicio.pk %}">
                    {{ servicio.nombre }}
                    <br>
                    {{ servicio.descripcion }}
                    </a>
                    </div>
                    
                </div>
                    
            {% endfor %} 
    </div>
        <!-- TERMINA EL POST-HEADER  -->
    <!-- SIN LOGGEAR -->
{% endblock %}