{% extends 'core/base.html' %}
{% load staticfiles%}
{% block content %}
    <!-- ENCARGADO DE SERVICIO -->
    {% if user.is_authenticated and user.es_encargado_servicio %}
    <div class="container">
            <div class="row">
                <div class="col-6">
                      <p class="text-left">¡Bienvenido, {{ user.username }}!<p>
                 </div>
                <div class="col-6">
                   <p class="text-right">Administrador de Servicio<p>
                  </div>
            </div>
    </div>  
<div class="container">
{% endif %}
<!--TERMINA ENCARGADO DE SERVICIO -->

    <div class="row">
        <div class="col-12 titulo-recuardo">
        <p>Selecciona tu campus</p>
        </div>
    </div>
    <div class="row">
        {% for campus in campuss %}
        <div class="col-6 col-md-4 centered">
            <a href="{% url 'lista_divisiones' pk=campus.pk %}" class="centered">
                <img src="{{campus.imagen.url}}" class="img-servicios" alt="{{campus.nombre}}">
            </a>
            <a href="{% url 'lista_divisiones' pk=campus.pk %}" class="centered">
            {{ campus.nombre }}
            </a>
        </div>
            
        {% endfor %}
    </div>
</div>
{% endblock %}