{% extends 'core/base.html' %}
{% load staticfiles%}
{% block content %}
<!-- SIN LOGGEAR -->
    <!-- INICIA EL POST-HEADER -->
    <div class="container">
        <div class="row">
                <div class="col-12 titulo-recuardo">
                    <p>Selecciona tu campus</p>
                </div>
            </div>
        <div class="row">
            
            {% for campus in campuss %}
            <div class="col-6 col-md-4">
                
                <img src="{{campus.imagen.url}}" class="img-servicios" alt="{{campus.nombre}}">
                <a href="{% url 'lista_divisiones' pk=campus.pk %}">
                {{ campus.nombre }}
                </a>
            </div>
            
            {% endfor %}
        </div>
    </div>
    <!-- TERMINA EL POST-HEADER  -->
<!-- SIN LOGGEAR -->
{% endblock %}