{% extends 'core/base.html' %}
{% load staticfiles%}
{% block content %}
<!-- SIN LOGGEAR -->
    <!-- INICIA EL POST-HEADER -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 link_class"><a href="{% url 'lista_campus' %}"><p class="black-font text-center">Servicios</p></a></div>
            <div class="col-12 col-md-6 link_class"><a href="{% url 'login' %}"><p class="black-font text-center">Inicia Sesion</p></a></div>
        </div>
        <div class="row">
                <div class="col-12 titulo-recuardo">
                    <p>Selecciona tu division</p>
                </div>
            </div>
        <div class="row">
            
            {% for division in divisiones %}
            <div class="col-6 col-md-4">
                <a href="{% url 'lista_servicios' pk=division.pk %}">
                <img src="{{division.imagen.url}}" class="img-servicios" alt="{{division.nombre}}">
                {{ division.nombre }}
                </a>
            </div>
            
            {% endfor %}
        </div>
    </div>
    <!-- TERMINA EL POST-HEADER  -->
<!-- SIN LOGGEAR -->
{% endblock %}