*{
    font-family: 'Montserrat', sans-serif;
}
a { color:#666666;
    text-decoration:none;
}
    
a:hover { text-decoration : none;
}

.header{
    background-color: #2339AC;
    display: flex;
    margin-bottom: 1em;
    
}

.img-buho{
    height: 6vh;
    display: block;
    margin-left: 1.5em;
}

.main-btn{
    background-color: #FFCD00;
    margin-bottom: 0.5em;
    font-size: 16px;
}

.carrousel{
    background-color: #C4C4C4;
}

.footer{
    background-color: #FFCD00;
    font-size: 14px;
    padding:0px;
}


h1{
    font-size: 4vh;
    font-weight: bold;
    color: #FFCD00;
}

.logo-unison{
    max-width: 360px;
    display: flex;
}

.img-car{
    width: 640px; 
    height: 480px; 
    margin:  auto; 
    display: block; 
}

.link_class {
    background-color: #DAE6F3;
    border: 2px, solid;
    color:#fff;
    font-size: 16px;
    text-decoration: none;
    
}

.white-font{
    color: black;
    align-items: center;
    justify-content: center;
}

.img-servicios{
    max-width: 150px;
    max-height: 150px;
    border-radius:50%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}
.titulo-recuardo{
    background-color: #2E3192;
    color:#fff;
    text-align: center;
}
.recuadro{
    background-color: #eaeaea;
}
.center{
    text-align: center;
}
.inliner{
    display: inline;
}
.centered{
    text-align: center;
}

.serviceDescriptionImg{
    max-width: 500px;
    max-height: 500px;
    margin:  auto; 
    display: block;
}
.nameServ{
    border: #666666;
}
